@page "/members"
<h3>MemberList</h3>


@if (membersList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">

        @foreach (var member in membersList)
        {
            <div class="col-2">
                <div class="card">
                    <img src="@member.PhotoUrl" class="card-img-top" alt="@member.KnownAs">
                    <div class="card-body">
                        <h5 class="card-title">@member.KnownAs</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Age: @member.Age, City: @member.City</h6>
                        <p class="card-text">@member.LookingFor</p>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        }

    </div>


}
